---
import { Image } from 'astro:assets';
import infoUp from '../assets/images/info-up.webp';
import BookingWidget from "../components/BookingWidget.jsx";
---

<section class="w-full min-h-dvh bg-[url(../assets/images/papel-fondo.webp)] bg-cover bg-center border-20 border-verde-oscuro relative">
  <Image src={infoUp} alt="" class="absolute top-4 right-4 w-32" />
  <BookingWidget client:load />
</section>