---
import { Image } from 'astro:assets';
import infoUp from '../assets/images/info-up.webp';
import BookingWidget from "./BookingWidget.jsx";
---

<section id="calendario" class="w-full min-h-dvh bg-[url(../assets/images/papel-fondo.webp)] bg-cover bg-center border-20 border-verde-oscuro relative">
  <a href="#preguntas"><Image src={infoUp} alt="" class="absolute top-4 left-4 w-20 md:w-32" /></a>
  <BookingWidget client:load />
</section>