---
import Navbar from "./Navbar.astro";
import { Image } from "astro:assets";
import fondoCircular from "../assets/images/fondo-circular.webp";
import mona from "../assets/images/mona.webp";
import masInfo from "../assets/images/info-down.webp";
---

<section
  class="w-screen h-dvh bg-[url(../assets/images/fondo-rojo-desktop.png)] bg-cover bg-center overflow-x-hidden relative"
>
  <Navbar />
  <div class="w-full h-[calc(100dvh-120px)] flex items-center justify-center">
    <div class="relative">
      <Image
        src={fondoCircular}
        alt="Imagen decorativa de fondo"
        class="w-[470px]"
      />

      <div
        class="absolute inset-0 flex flex-col items-center justify-center px-8 pt-12 pb-12"
      >
        <h1
          class="font-vintage text-verde-oscuro text-7xl text-center leading-10 mb-8"
        >
          ¡Este 2025 los sets navideños llegan a tu casa!
        </h1>

        <a
          class="bg-verde-apagado text-white px-16 py-3 rounded-full text-xl font-montserrat uppercase tracking-wider shadow-lg shadow-verde-apagado/60 hover:opacity-90 transition-all"
        >
          Reserva aquí ✨
        </a>
      </div>

      <Image
        src={mona}
        alt="Imagen de moña decorativa"
        class="absolute -bottom-4 left-1/2 -translate-x-2/5 w-56"
      />
    </div>
  </div>
  <a href="#">
    <Image
      src={masInfo}
      alt="Para obtener más información scrollea"
      class="w-56 absolute bottom-5 right-5 shadow-lg shadow- shadow-white/20"
    />
  </a>
</section>
