---
import { Image } from 'astro:assets';
import mona from '../assets/images/mona.webp';
import monaClara from '../assets/images/mona-rojo-claro.webp';
import fondoCircular from '../assets/images/fondo-circular.webp';
---

<section
  class="w-screen h-dvh pb-10"
>
  <h2 class="text-naranja-claro font-vintage pt-14 text-7xl text-center bg-[url(../assets/images/fondo-verde-desktop.png)] bg-cover bg-center p-4">Elige tu paquete</h2>
  
  <div class="flex justify-center items-start gap-40 px-20 border-l-18 border-r-18  border-b-18 border-verde-oscuro h-[87%]">
    <!-- Paquete 1 -->
    <div class="relative">
      <Image src={fondoCircular} alt="" class="w-[400px]" />
      
      <div class="absolute inset-0 flex flex-col items-center justify-center px-12 pt-16 pb-20">
        <h3 class="font-vintage text-rojo-oscuro text-8xl leading-20">Paquete 1</h3>
        
        <ul class="text-rojo font-youngest text-xl space-y-0.5 text-center mb-8">
          <li>- 1 a 3 personas</li>
          <li>- 20 minutos de sesión</li>
          <li>- Traslado de 2 sets a tu casa.</li>
          <li>- Props navideños</li>
          <li>- 15 fotos digitales</li>
        </ul>
        
        <div class="text-center mb-6 mt-4">
          <p class="font-vintage text-rojo-oscuro text-7xl leading-8">Q1,600</p>
          <p class="font-youngest text-rojo text-sm uppercase">Reserva por Q500</p>
        </div>
        
        <button class="bg-rojo-oscuro text-naranja-claro px-10 py-3 rounded-full font-youngest text-lg uppercase tracking-wider hover:opacity-90">
          Elegir paquete
        </button>
      </div>
      
      <Image src={mona} alt="" class="absolute -bottom-2 left-1/2 -translate-x-4/9 w-48" />
    </div>

    <!-- Paquete 2 -->
    <div class="relative">
      <span class="absolute top-14 -right-2 bg-rojo-oscuro text-naranja-claro px-6 py-2 rounded-2xl font-youngest text-xl z-10">
        Más popular
      </span>
      
      <Image src={fondoCircular} alt="" class="w-[400px]" />
      
      <div class="absolute inset-0 flex flex-col items-center justify-center px-12 pt-16 pb-20">
        <h3 class="font-vintage text-rojo text-8xl leading-20">Paquete 2</h3>
        
        <ul class="text-rojo-oscuro font-youngest text-xl space-y-0.5 text-center mb-8">
          <li>- 4 a 6 personas</li>
          <li>- 40 minutos de sesión</li>
          <li>- Traslado de 2 sets a tu casa.</li>
          <li>- Props navideños</li>
          <li>- 25 fotos digitales</li>
        </ul>
        
        <div class="text-center mb-6 mt-4">
          <p class="font-vintage text-rojo text-7xl leading-8">Q2,000</p>
          <p class="font-youngest text-rojo-oscuro text-sm uppercase">Reserva por Q500</p>
        </div>
        
        <button class="bg-rojo text-naranja-claro px-10 py-3 rounded-full font-youngest text-lg uppercase tracking-wider hover:opacity-90">
          Elegir paquete
        </button>
      </div>
      
      <Image src={monaClara} alt="" class="absolute -bottom-2 left-1/2 -translate-x-4/9 w-48" />
    </div>
  </div>
</section>